.stt-mailchimp-form{
  position: relative;
  input[type="email"]{
    border: 1px solid $color-black03;
    border-radius: 80px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $color-black02;
    padding: 17px 30px;
  }
  input[type="submit"]{
    background: var(--main-color, $color-main);
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    padding: 15px 20px !important;
    position: absolute;
    top: 6px;
    right: 6px;
  }
}