[dir=rtl] {
  @media screen and (min-width: 992px){
    .single #st-content-wrapper.st-style-4 #st-list-room .st-border-right , .single #st-content-wrapper.st-style-5 #st-list-room .st-border-right {
      border-right: none;
      border-left: 1px solid #DEDEDE;
    }
  }
  #st-content-wrapper .st-list-rooms .item .facilities .item{
    padding-right: 0px;
    padding-left: 10px;
  }
  .st-banner-search-form.style_2 .st-search-form-el .st-search-el .search-form .field-detination .stt-icon,
  .st-banner-search-form.style_2 .st-search-form-el .st-search-el .search-form .field-guest .stt-icon {
    margin-right: 0;
    margin-left: 16px;
  }

  .st-banner-search-form.style_2 .st-search-form-el .st-search-el .search-form .field-detination:after,
  .st-banner-search-form.style_2 .st-search-form-el .st-search-el .search-form .field-guest:after {
    left: 0;
    right: auto;
  }

  .st-banner-search-form.style_2 .st-search-form-el .st-search-el .search-form .destination-search {
    border-left: 0;
  }

  .st-banner-search-form.style_2 .st-search-form-el .st-search-el .search-form .form-date-field .date-item-arrow {
    transform: rotate(180deg);
  }

  .st-banner-search-form.style_2 .st-search-form-el .st-search-el .search-form .form-date-field:after {
    right: auto;
    left: 0;
  }

  .st-banner-search-form.style_2 .st-search-form-el .st-search-el .search-form .form-date-field .date-item-wrapper .stt-icon {
    margin-right: 0;
    margin-left: 16px;
  }

  .st-banner-search-form.style_2 .st-search-form-el .button-search-wrapper {
    margin-left: 12px;
    margin-right: auto;
  }

  .st-banner-search-form.style_2 .st-search-form-el .button-search-wrapper .btn-search span {
    margin-right: 0;
    margin-left: 8px;
  }

  .st-banner-search-form.style_2 .st-search-form-el .st-search-el .search-form .destination-search .dropdown-menu li:not(.location-heading).item span:not(.stt-icon) {
    text-align: right;
  }

  .st-banner-search-form.style_2 .st-search-form-el .st-search-el .search-form .destination-search .dropdown-menu li:not(.location-heading).item span.stt-icon {
    margin-right: 0;
    margin-left: 10px;
  }

  .services-item.item-elementor .item .featured-image .featured {
    right: 20px;
    left: auto;
  }

  .services-item.item-elementor .item .content-item .reviews .rate {
    margin-right: 12px;
    margin-left: 0px;
  }

  .services-item.item-elementor .item .content-item .price-wrapper .price {
    margin-right: 8px;
    margin-left: 4px;
  }

  .search-result-page.layout5 .top-filter ul li .dropdown .stt-icon {
    margin-right: 5px;
    margin-left: 0;
  }

  .st-style-elementor .top-filter .dropdown-menu .dropdown-title {
    text-align: right;
  }

  .st-icheck-item label {
    text-align: right;
  }

  .st-style-elementor .top-filter .dropdown-menu .st-icheck-item {
    text-align: right;
  }

  .search-result-page.layout5 .st-results .toolbar .toolbar-action li .dropdown-toggle span,
  .search-result-page.layout6 .st-results .toolbar .toolbar-action li .dropdown-toggle span {
    margin-left: 0;
    margin-right: 10px;
  }

  .search-result-page.layout5 .st-results .page-half-map .col-right .toggle-map,
  .search-result-page.layout5 .st-results .page-half-map .col-right .close-map-new {
    left: auto;
    right: 30px;
  }

  .search-result-page.layout5 .st-results .page-half-map.map-right {
    padding-right: 40px;
    padding-left: 0;
  }

  .search-result-page.layout5 .st-results .page-half-map .modern-search-result {
    padding-left: 35px;
    padding-right: 1px;
  }

  .search-result-page.layout5 .st-results .toolbar,
  .search-result-page.layout6 .st-results .toolbar {
    padding-left: 40px;
    padding-right: 0;
  }

  .search-result-page.layout5 .st-results .toolbar .toolbar-action li:not(:first-child),
  .search-result-page.layout6 .st-results .toolbar .toolbar-action li:not(:first-child) {
    margin-right: 27px;
    margin-left: 0;
  }

  .search-result-page.layout5 .st-results.nomap .page-half-map.map-right {
    padding-right: 0 !important;
  }

  .search-result-page.layout5 .st-results .page-half-map.map-left .dataarea {
    padding-right: 40px;
    padding-left: 0;
  }

  .search-result-page.layout5 .st-results .page-half-map.map-left .col-right {
    direction: rtl !important;
  }

  .services-item.item-elementor.list.list-2 .item .content-item .content-item-right {
    border-left: none;
    border-right: 1px solid #DEDEDE;
    padding-right: 30px;
    padding-left: 0;
  }

  .st-service-header2 .st-review-score {
    margin-right: 0;
    margin-left: 10px;
  }

  .st-service-header2 .st-review-score .score {
    margin-right: 0;
    margin-left: 12px;
  }

  #st-content-wrapper .form-book-wrapper .form-date-field .st_grid_date li:nth-child(1) {
    border-right: none;
    border-left: 1px solid #d7dce3;
  }

  .single-hotel_room #st-content-wrapper.st-style-elementor .st-form-book-wrapper .form-book-wrapper .form-date-field .date-wrapper .st-item-date,
  .single-st_hotel #st-content-wrapper.st-style-elementor .st-form-book-wrapper .form-book-wrapper .form-date-field .date-wrapper .st-item-date {
    text-align: right;
  }

  .single-hotel_room #st-content-wrapper.st-style-elementor .room-featured-items .item:not(:last-child),
  .single-st_hotel #st-content-wrapper.st-style-elementor .room-featured-items .item:not(:last-child) {
    margin-right: 0;
    margin-left: 40px;
  }

  .single-hotel_room #st-content-wrapper.st-style-elementor .room-featured-items .item .stt-icon,
  .single-st_hotel #st-content-wrapper.st-style-elementor .room-featured-items .item .stt-icon {
    margin-right: 0;
    margin-left: 10px;
  }

  .relate-rooms .st-owl-slider {
    direction: ltr;

    .item-slide {
      direction: rtl;
    }
  }

  .st-checkout-page.style-2 .cart-info .service-section .service-left {
    margin-left: 20px;
    margin-right: 0;
  }

  .st-checkout-page .cart-info .coupon-section form .form-group input[type=text] {
    margin-right: 0;
    margin-left: 5px;
  }

  .st-checkout-page .booking-success-notice .notice-success,
  .page-template-template-checkout-packages-new .booking-success-notice .notice-success {
    margin-right: 20px;
    margin-left: 0;
  }

  .st-checkout-page.style-2 .info-form ul li .label {
    text-align: right;
  }

  @media screen and (max-width:991px) {
    .st-banner-search-form.style_2 .st-search-form-el .button-search-wrapper {
      margin-left: unset;
      margin-right: unset;
    }
  }

  .services-item.item-elementor .item .content-item .amenities .amenity {
    margin-right: unset;
    margin-left: 22px;
  }

  .services-item.item-elementor .item .content-item .amenities .amenity span {
    margin-left: 7px;
    margin-right: unset;
  }

  .car-layout3 .services-item.item-elementor .car-equipments .item,
  .car-layout4 .services-item.item-elementor .car-equipments .item,
  .page-template-template-transfer-search .services-item.item-elementor .car-equipments .item {
    margin-right: unset;
    margin-left: 16px;
  }

  .header__right .items .dropdown.dropdown-minicart .dropdown-menu .cart-item .cart-delete-item {
    left: 0px;
    right: unset;
  }

  .service-list-wrapper .item .section-footer .price-wrapper .fa {
    margin-right: unset;
    margin-left: 5px;
  }

  .st-style-elementor.search-result-page.layout5 .st-results .page-half-map .modern-search-result,
  .st-style-elementor.search-result-page.tour-layout7 .st-results .page-half-map .modern-search-result,
  .st-style-elementor.search-result-page.activity-layout5 .st-results .page-half-map .modern-search-result,
  .st-style-elementor.search-result-page.car-layout4 .st-results .page-half-map .modern-search-result,
  .st-style-elementor.search-result-page.layout-rental-4 .st-results .page-half-map .modern-search-result {
    padding-left: 35px;
    padding-right: 1px;
  }

  .st-style-elementor.search-result-page.layout5 .st-results .page-half-map.map-right,
  .st-style-elementor.search-result-page.tour-layout7 .st-results .page-half-map.map-right,
  .st-style-elementor.search-result-page.activity-layout5 .st-results .page-half-map.map-right,
  .st-style-elementor.search-result-page.car-layout4 .st-results .page-half-map.map-right,
  .st-style-elementor.search-result-page.layout-rental-4 .st-results .page-half-map.map-right {
    padding-right: 40px;
    padding-left: unset;
  }

  .st-style-elementor.search-result-page.layout5 .st-results .page-half-map .col-right .toggle-map,
  .st-style-elementor.search-result-page.layout5 .st-results .page-half-map .col-right .close-map-new,
  .st-style-elementor.search-result-page.tour-layout7 .st-results .page-half-map .col-right .toggle-map,
  .st-style-elementor.search-result-page.tour-layout7 .st-results .page-half-map .col-right .close-map-new,
  .st-style-elementor.search-result-page.activity-layout5 .st-results .page-half-map .col-right .toggle-map,
  .st-style-elementor.search-result-page.activity-layout5 .st-results .page-half-map .col-right .close-map-new,
  .st-style-elementor.search-result-page.car-layout4 .st-results .page-half-map .col-right .toggle-map,
  .st-style-elementor.search-result-page.car-layout4 .st-results .page-half-map .col-right .close-map-new,
  .st-style-elementor.search-result-page.layout-rental-4 .st-results .page-half-map .col-right .toggle-map,
  .st-style-elementor.search-result-page.layout-rental-4 .st-results .page-half-map .col-right .close-map-new {
    left: unset;
    right: 30px;

    .stt-icon-arrow-left,
    .stt-icon-arrow-right {
      transform: rotate(180deg);
    }
  }

  .st-style-elementor.search-result-page.layout5 .st-results.nomap .page-half-map.map-right,
  .st-style-elementor.search-result-page.tour-layout7 .st-results.nomap .page-half-map.map-right,
  .st-style-elementor.search-result-page.activity-layout5 .st-results.nomap .page-half-map.map-right,
  .st-style-elementor.search-result-page.car-layout4 .st-results.nomap .page-half-map.map-right,
  .st-style-elementor.search-result-page.layout-rental-4 .st-results.nomap .page-half-map.map-right {
    padding-right: 0px;
  }

  .st-style-elementor.search-result-page.layout5 .top-filter ul li .dropdown .stt-icon,
  .st-style-elementor.search-result-page.tour-layout7 .top-filter ul li .dropdown .stt-icon,
  .st-style-elementor.search-result-page.activity-layout5 .top-filter ul li .dropdown .stt-icon,
  .st-style-elementor.search-result-page.car-layout4 .top-filter ul li .dropdown .stt-icon,
  .st-style-elementor.search-result-page.layout-rental-4 .top-filter ul li .dropdown .stt-icon,
  .search-result-page.layout5 .st-results .toolbar .toolbar-action li .dropdown-toggle span,
  .search-result-page.layout6 .st-results .toolbar .toolbar-action li .dropdown-toggle span,
  .search-result-page.tour-layout6 .st-results .toolbar .toolbar-action li .dropdown-toggle span,
  .search-result-page.tour-layout7 .st-results .toolbar .toolbar-action li .dropdown-toggle span,
  .search-result-page.activity-layout4 .st-results .toolbar .toolbar-action li .dropdown-toggle span,
  .search-result-page.activity-layout5 .st-results .toolbar .toolbar-action li .dropdown-toggle span,
  .search-result-page.car-layout3 .st-results .toolbar .toolbar-action li .dropdown-toggle span,
  .search-result-page.car-layout4 .st-results .toolbar .toolbar-action li .dropdown-toggle span,
  .search-result-page.layout-rental-4 .st-results .toolbar .toolbar-action li .dropdown-toggle span,
  .search-result-page.layout-rental-5 .st-results .toolbar .toolbar-action li .dropdown-toggle span,
  .page-template-template-transfer-search .st-style-elementor.search-result-page .st-results .toolbar .toolbar-action li .dropdown-toggle span {
    margin-right: 5px;
    margin-left: unset;
  }

  .search-result-page.layout5 .st-results .toolbar,
  .search-result-page.layout6 .st-results .toolbar,
  .search-result-page.tour-layout6 .st-results .toolbar,
  .search-result-page.tour-layout7 .st-results .toolbar,
  .search-result-page.activity-layout4 .st-results .toolbar,
  .search-result-page.activity-layout5 .st-results .toolbar,
  .search-result-page.car-layout3 .st-results .toolbar,
  .search-result-page.car-layout4 .st-results .toolbar,
  .search-result-page.layout-rental-4 .st-results .toolbar,
  .search-result-page.layout-rental-5 .st-results .toolbar,
  .page-template-template-transfer-search .st-style-elementor.search-result-page .st-results .toolbar {
    padding-right: unset;
    padding-left: 40px;
  }

  .search-result-page.layout5 .st-results .toolbar .toolbar-action,
  .search-result-page.layout6 .st-results .toolbar .toolbar-action,
  .search-result-page.tour-layout6 .st-results .toolbar .toolbar-action,
  .search-result-page.tour-layout7 .st-results .toolbar .toolbar-action,
  .search-result-page.activity-layout4 .st-results .toolbar .toolbar-action,
  .search-result-page.activity-layout5 .st-results .toolbar .toolbar-action,
  .search-result-page.car-layout3 .st-results .toolbar .toolbar-action,
  .search-result-page.car-layout4 .st-results .toolbar .toolbar-action,
  .search-result-page.layout-rental-4 .st-results .toolbar .toolbar-action,
  .search-result-page.layout-rental-5 .st-results .toolbar .toolbar-action,
  .page-template-template-transfer-search .st-style-elementor.search-result-page .st-results .toolbar .toolbar-action {
    padding-left: unset;

    .layout {
      margin-left: unset;
      margin-right: 27px;
    }
  }
}