$color-main: #3B71FE;
$color-main-sub1: #617382;
$color-main-sub2: #FF1E1E;
$color-main-sub3: #FFE9E8;
$color-ink-heading: var(--heading-color,#1A2B48);
$color-ink-body: #727272;
$color-black01: #1A232B;
$color-black02: #83929D;
$color-black03: #DEDEDE;
$color-black04: #F7F8FA;
$color-second-primary: #F09E00;
$color-second-sub1: #D58D00;
$color-second-sub2: #FFB21D;
$color-second-sub3: #FFF6E4;
$color-other-favourite: #DA3838;
$color-other-start-hotel: #DA6938;
$color-other03: #DAAD38;
$color-other04: #E9D840;
$color-ink-calendar: #B1BAC1;