[dir=rtl] .st_search_room .st-search-el .search-form .btn.btn-primary {
  margin-left: unset;
  margin-right: auto;
}
[dir=rtl] .header__center #st-main-menu .main-menu li.menu-item-has-children .menu-dropdown {
  left: unset;
  right: 0px;
}
[dir=rtl] .header__center #st-main-menu .main-menu li.menu-item-has-children .fa {
  right: unset;
  left: 10px;
}
[dir=rtl] ol,
[dir=rtl] ul {
  padding-left: 2rem;
  padding-right: unset;
}
[dir=rtl] .single #st-content-wrapper.st-style-elementor .st-video {
  margin-left: 12px;
  margin-right: unset;
}
[dir=rtl] .single #st-content-wrapper.st-style-elementor .wistlist-single {
  margin-right: 12px;
  margin-left: unset;
}
[dir=rtl] body header #topbar .socials {
  border-right: none;
  border-left: 1px solid #374969;
  padding-right: 0px;
}
[dir=rtl] body header #topbar .socials li a {
  padding-right: 0px;
  padding-left: 18px;
}
[dir=rtl] body header .topbar-items li {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 0px !important;
  padding-right: 18px !important;
}
[dir=rtl] body header .topbar-items li:first-child {
  border-right: none;
}
[dir=rtl] body header .st-list {
  padding: 0px;
}
[dir=rtl] body header .header #main-menu li.menu-item-has-children .menu-dropdown {
  left: unset;
  right: 0px;
}
[dir=rtl] body header .header .header-left .logo {
  margin-right: 0px;
  margin-left: 30px;
  float: right;
}
[dir=rtl] body header .header .dropdown-user-dashboard img.avatar {
  margin-right: 0px;
  margin-left: 5px;
}
[dir=rtl] body .st-banner-search-form.style_1 .nav-pills > li + li {
  margin-left: 0 !important;
}
@media screen and (min-width: 991px) {
  [dir=rtl] body .st-banner-search-form.style_1 .field-guest {
    border-right: 1px solid #d7dce3;
    border-left: none;
    padding-left: 0px;
    padding-right: 15px;
  }
  [dir=rtl] body .st-banner-search-form.style_1 .field-guest.field-advance {
    border-right: 0px;
  }
}
[dir=rtl] body .st-banner-search-form.style_1 .form-group .arrow {
  left: 10px;
  right: auto;
}
[dir=rtl] body .st-banner-search-form.style_1 .st-form-dropdown-icon {
  padding-left: 0px;
  padding-right: 15px;
}
[dir=rtl] body .st-banner-search-form.style_1 .date-wrapper {
  padding-left: 0px;
  padding-right: 15px;
}
[dir=rtl] body .st-banner-search-form.style_1 .form-button {
  padding-right: 0px;
}
@media screen and (min-width: 992px) {
  [dir=rtl] body .st-banner-search-form.style_1 .form-group.form-date-search.form-date-car .check-in-wrapper {
    margin-left: 40px;
    margin-right: 0px;
  }
}
[dir=rtl] body .st-banner-search-form.style_1 .st-traveler-payout .check-in-wrapper {
  float: right;
}
[dir=rtl] body .st-banner-search-form.style_1 .form-button .btn.btn-primary {
  margin-right: auto;
  margin-left: unset;
}
[dir=rtl] body .st-banner-search-form.style_1 .form-extra-field .input-icon {
  padding-right: 15px;
}
[dir=rtl] body .featured-image .st_sale_class.box_sale {
  transform: rotate(315deg);
  left: -30px;
  top: -16px;
}
[dir=rtl] body .item .section-footer .reviews .rate {
  margin-left: 22px;
  margin-right: 0px;
}
[dir=rtl] body .item .section-footer .reviews .rate:after {
  right: unset;
  left: -12px;
}
[dir=rtl] body .st_hotel .item .section-footer .reviews .rate {
  margin-right: 22px;
  margin-left: 0px;
}
[dir=rtl] body .st_hotel .item .section-footer .reviews .rate:after {
  left: unset;
  right: -12px;
}
[dir=rtl] body .service-list-wrapper .item .st-stars {
  right: 15px;
  left: unset;
}
[dir=rtl] body .cate.category-color ul li {
  float: right;
}
[dir=rtl] body .cate.category-color ul li a:before {
  right: 9px;
  left: unset;
}
[dir=rtl] .st-style-elementor .st-icheck-item {
  padding-left: 0px;
  padding-right: 32px;
}
[dir=rtl] .st-style-elementor .st-icheck-item label .checkmark {
  left: auto;
  right: 0px;
}
[dir=rtl] .st-style-elementor .item .featured-image .st-tag-feature-sale {
  top: 20px;
  right: 20px;
  left: unset !important;
  position: absolute;
  z-index: 9;
}
[dir=rtl] .st-style-elementor .service-list-wrapper .item .section-footer .price-wrapper .fa {
  margin-left: 5px;
  margin-right: 0px;
}
[dir=rtl] .st-style-elementor .service-list-wrapper .price .sale-top .item {
  margin-right: 8px;
  margin-left: 0px;
}
[dir=rtl] .st-style-elementor .service-list-wrapper.service-tour .item .content-item .reviews .rate {
  margin-left: 0;
  margin-right: 12px;
}
[dir=rtl] .toolbar-action .layout-item {
  margin-left: 0px;
  margin-right: 7px;
  float: right;
}
[dir=rtl] .toolbar-action .sort-menu .sort-item span.title {
  text-align: right;
}
[dir=rtl] .toolbar .sort-menu .sort-title h3 {
  text-align: right;
}
[dir=rtl] .toolbar .sort-menu .sort-title h3:before {
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}
[dir=rtl] .search-result-page.st-search-car .sidebar-search-form .search-form .form-group.form-date-car .date-wrapper .check-in-wrapper,
[dir=rtl] .search-result-page.st-search-car .sidebar-search-form .search-form .form-group.form-date-car .date-wrapper .check-out-wrapper {
  padding-left: 0px;
  padding-right: 20px;
}
[dir=rtl] #st-content-wrapper .st-breadcrumb ul {
  padding-right: 0;
}
[dir=rtl] #st-content-wrapper .st-breadcrumb ul li:first-child {
  padding-left: unset;
}
[dir=rtl] #st-content-wrapper .st-breadcrumb ul li:first-child {
  padding-right: 0;
  padding-left: 20px;
}
[dir=rtl] #st-content-wrapper .st-breadcrumb ul li:not(:last-child):after {
  right: unset;
  left: -2px;
}
[dir=rtl] .st-service-feature .item .icon {
  margin-right: 0px;
  margin-left: 15px;
}
[dir=rtl] #st-content-wrapper .st-gallery .shares {
  right: unset;
  left: 30px;
}
[dir=rtl] .single-st_tours #reviews .review-box-score,
[dir=rtl] .single-st_rental #reviews .review-box-score,
[dir=rtl] .single-st_cars #reviews .review-box-score,
[dir=rtl] .single-st_activity #reviews .review-box-score,
[dir=rtl] .single-hotel_room #reviews .review-box-score {
  border-right: none;
  border-left: 1px solid #d7dce3;
}
[dir=rtl] .single-st_tours #reviews .review-sumary .item .label,
[dir=rtl] .single-st_rental #reviews .review-sumary .item .label,
[dir=rtl] .single-st_cars #reviews .review-sumary .item .label,
[dir=rtl] .single-st_activity #reviews .review-sumary .item .label,
[dir=rtl] .single-hotel_room #reviews .review-sumary .item .label {
  margin-right: 0px;
  margin-left: 3%;
}
[dir=rtl] .single-st_tours #reviews .review-sumary .item .number,
[dir=rtl] .single-st_rental #reviews .review-sumary .item .number,
[dir=rtl] .single-st_cars #reviews .review-sumary .item .number,
[dir=rtl] .single-st_activity #reviews .review-sumary .item .number,
[dir=rtl] .single-hotel_room #reviews .review-sumary .item .number {
  margin-left: 0px;
  margin-right: 3%;
}
[dir=rtl] #st-content-wrapper .review-list .comment-item .media {
  margin-right: 0px;
  margin-left: 100px;
}
[dir=rtl] #st-content-wrapper .review-list .comment-item-body .title .comment-rate {
  margin-right: 0px;
  margin-left: 15px;
}
[dir=rtl] #st-content-wrapper .st-attributes .item-attribute .item .fa {
  margin-right: unset;
  margin-left: 15px;
}
[dir=rtl] .accordion-button::after {
  margin-right: auto;
  margin-left: unset;
}
[dir=rtl] .st-results .search-form .search-title:before,
[dir=rtl] .st-results h3.sidebar-title:before {
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}
[dir=rtl] #st-content-wrapper #write-review #respond .review-items .item .rates i:not(:first-child) {
  margin-right: 20px;
}
@media screen and (min-width: 991px) {
  [dir=rtl] .sidebar-filter .search-form form .form-button {
    padding-left: 15px;
  }
  [dir=rtl] .search-form form .border-right {
    border-right: none;
    border-left: 1px solid #d7dce3;
  }
  [dir=rtl] .search-form form .form-button {
    border-left: none;
    border-right: 1px solid #d7dce3;
    padding-left: 0px;
    padding-right: 15px;
  }
  [dir=rtl] .sidebar-item .search-form form .border-right {
    border-right: none;
    border-left: none;
  }
  [dir=rtl] .service-list-wrapper.list-style .item-service-inner .item-content .item-content-w::after {
    right: unset;
    left: 0px;
  }
  [dir=rtl] .service-list-wrapper.list-style .item-content-w .service-author a {
    margin-right: 0px;
    margin-left: 10px;
  }
}
[dir=rtl] .list-style .item-service .amenities .amenity .input-icon,
[dir=rtl] .item-rental .amenities .amenity .input-icon {
  margin-right: 0px;
  margin-left: 5px;
}
[dir=rtl] .item .featured-image .featured {
  left: unset;
  border-radius: 3px 0px 0px 3px;
  right: 0px;
  padding: 5px 10px !important;
}
[dir=rtl] .service-add-wishlist {
  right: unset;
  left: 10px;
}
[dir=rtl] .service-list-wrapper .item a.service-avatar {
  right: unset;
  left: 20px;
}
[dir=rtl] .service-list-wrapper.list-style .item-content-w .service-author {
  margin-bottom: 0px;
}
[dir=rtl] .daterangepicker .table-header .next {
  right: unset;
  left: 0;
  transform: rotate(180deg);
}
[dir=rtl] .daterangepicker .table-header .prev {
  left: unset;
  right: 0;
  transform: rotate(180deg);
}
[dir=rtl] .search-form form .form-group .arrow {
  right: unset;
  left: 10px;
}
[dir=rtl] .search-form form .st-form-dropdown-icon,
[dir=rtl] .search-form form .form-group .date-wrapper {
  padding-left: 0;
  padding-right: 15px;
}
[dir=rtl] .st-form-package {
  background: transparent url(../../v2/images/svg/ico_add-circle.svg) center left 20px no-repeat;
}
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor .st-inexclude .include li i,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor .st-inexclude ul li i,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor .st-highlight .include li i,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor .st-highlight ul li i,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor .st-inexclude .include li i,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor .st-inexclude ul li i,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor .st-highlight .include li i,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor .st-highlight ul li i,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor .st-inexclude .include li i,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor .st-inexclude ul li i,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor .st-highlight .include li i,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor .st-highlight ul li i,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor .st-inexclude .include li i,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor .st-inexclude ul li i,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor .st-highlight .include li i,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor .st-highlight ul li i {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-faq-list .st-program .accordion-header button span,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-program-list .st-program .accordion-header button span,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-faq-list .st-program .accordion-header button span {
  margin-right: 0;
  margin-left: 18px;
}
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_tours #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_activity #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_cars #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-tour-8 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-tour-9 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-activity-4 .st-faq-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-program-list .st-program .accordion-button .icon-question,
[dir=rtl] .single-st_rental #st-content-wrapper.st-style-elementor.st-single-activity-5 .st-faq-list .st-program .accordion-button .icon-question {
  margin-right: 0;
  margin-left: 13px;
}
[dir=rtl] .single #st-content-wrapper.st-style-4 .st-section-single .item-attribute .item i,
[dir=rtl] #collapseInExClude ul li i {
  margin-right: 0;
  margin-left: 15px;
}
[dir=rtl] .single #st-content-wrapper.st-style-4 .review-list .comment-item .media-left {
  padding-right: 0;
  padding-left: 16px;
}
[dir=rtl] .single #st-content-wrapper.st-style-4 .review-box .st-summany .label .number {
  margin-left: 0;
  margin-right: 15px;
}
[dir=rtl] .media-left,
[dir=rtl] .media > .pull-left {
  padding-right: 0;
  padding-left: 10px;
}
@media screen and (max-width: 767px) {
  [dir=rtl] .search-form form .form-group .date-wrapper {
    padding-left: 0px;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  [dir=rtl] .search-form form .form-group.form-date-search.form-date-car .check-in-wrapper {
    margin-left: 40px;
    margin-right: 0;
  }
}

/*# sourceMappingURL=_rtl.css.map */
